@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  position: relative;
  padding: 10px 10px;
  border-radius: 25px;
  background: linear-gradient(to top, #6462C9, #C1D5F8);
  box-shadow: 0px 4px 1px #3c1f8f;
  transition: background-color 0.3s ease;
}

.inside-link {
  padding: 5px 20px;
  border-radius: 18px;
  background: #AAA7E5
}

.oval-box{
  position: absolute;
  top: 4px;
  left: 20px;
  width: 8px;
  height: 5px;
  background: white;
  border-radius: 100px / 50px;
}

.oval-box2{
  position: absolute;
  top: 3px;
  left: 30px;
  width: 5px;
  height: 3px;
  background: white;
  border-radius: 100px / 50px;
}

html {
      scroll-behavior: smooth;
}